In [33]:
import pandas as pd

In [34]:
df = pd.read_excel('FOTOS.xlsx')

In [35]:
def completar(valor):
    valor = str(valor)
    return valor.zfill(2)

In [36]:
df['cod_depto']=df['cod_depto'].apply(completar)
df['cod_prov']=df['cod_prov'].apply(completar)
df['cod_mpio']=df['cod_mpio'].apply(completar)
df['concat'] = df['cod_depto']+df['cod_prov']+df['cod_mpio']

In [37]:
df = df[['concat','cod_depto', 'depto', 'cod_prov', 'prov', 'cod_mpio', 'mpio']]

In [40]:
df.to_csv('municipios.csv',sep=';',index=False)

In [41]:
df

,concat,cod_depto,depto,cod_prov,prov,cod_mpio,mpio
0,010101,01,CHUQUISACA,01,OROPEZA,01,SUCRE
1,010102,01,CHUQUISACA,01,OROPEZA,02,YOTALA
2,010103,01,CHUQUISACA,01,OROPEZA,03,POROMA
3,010201,01,CHUQUISACA,02,AZURDUY,01,AZURDUY
4,010202,01,CHUQUISACA,02,AZURDUY,02,TARVITA
...,...,...,...,...,...,...,...
338,090401,09,PANDO,04,ABUNA,01,SANTA ROSA
339,090402,09,PANDO,04,ABUNA,02,INGAVI
340,090501,09,PANDO,05,FEDERICO ROMAN,01,NUEVA ESPERANZA
341,090502,09,PANDO,05,FEDERICO ROMAN,02,VILLA NUEVA
342,090503,09,PANDO,05,FEDERICO ROMAN,03,SANTOS MERCADO